body {
    font-family: Tahoma, sans-serif;
}


header {
    position: relative;
    margin-left: 126px;
    padding: 0;
    width: auto;
    height: 205px;
    clear: both;
}

h4 {
    padding-top: 27px;
    padding-left: 21px;
    color: #e6e6e6;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

a {
    display: block;
    text-decoration: none;
    color: #e6e6e6;
}

a:hover {
    color: goldenrod;
}

footer {
    clear: both;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 22px;
}

h3 {
    color: #e6e6e6;
    font-family: Tahoma;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

footer>a {
    color: #e6e6e6;
    font-family: Tahoma;
    font-size: 12px;
}


.main {
    background-image: url(../img/background.jpg);
    background-size: cover;
}

.logo {
    position: relative;
    bottom: -19px;
    left: 73px;
}


.palm-tree {
    position: relative;
    bottom: -58px;
    left: -45px;
}

.site-logo {
    float: left;
    height: 100%;
}

.contact-us {
    font-family: Tahoma;
    font-size: 13px;
    font-weight: bold;
    color: #e6e6e6;
    width: 80%;
    text-align: right;
    padding-top: 145px;
    padding-left: 42px;
}




.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.content > div {
    float: left;
    margin-left: 75px;
    margin-bottom: 75px;
}

.content{
    position: relative;
    margin-left: 126px;
    padding: 0 ;
}


.content > div > img  {
    width: 260px;
    height: 178px;
    border: 3px solid gray;
    border-radius: 3px;
}






